@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


p,
a,
span,
h1,
h2,
h3,
h4,
input,
textarea {
    font-family: 'Poppins';
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.icons {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 70px;
    right: 70px;
    z-index: 998;
}

.icons img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.num {
    width: 30px;
    position: absolute;
    top: 10%;
    left: 50px;
}

.circle {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -5%;
    right: -60px;
}

.me_11 {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 5%;
    right: 0px;
}

h2 {
    color: #ffc2b4;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 6em;
    font-weight: bold;
}

.mobile_h3 {
    display: none;
}

.contenu {
    width: 85%;
    margin-left: 12%;
    margin-right: 3%;

    display: flex;
    flex-direction: column;
}

.contenu h3 {
    color: #ea5456;
    font-size: 2.5em;
    margin-left: 15px;
}

/*
////////////////////////////////////// accueil
*/

.accueil {
    margin-top: 50px;
    min-height: 95vh;
}

.accueil .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.accueil .left {
    background-image: url('../images/home/portfolio.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 95vh;
}

.accueil .left img {
    width: 100%;
}

.accueil .right {
    width: 50%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.accueil .right .bloc_name {
    margin: 30px;
}

.accueil .right .bloc_name {
    text-align: left;
}

.accueil .right .name {
    margin-top: 100px;
    font-size: 7em;
    font-weight: bold;
    text-align: left;
    line-height: 1em;
}

.accueil .right .link {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.accueil .right .line_play {
    height: 100px;
    width: 55%;
    background-image: url('../images/home/ligne-play-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.accueil .right .line_play:hover {
    background-image: url('../images/home/ligne-play-2.png');
}

.accueil .me_6 {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
}



/*
////////////////////////////////////// sommaire
*/

.sommaire .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sommaire .blocs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    margin: 0px 10px 0px 10px;
    min-width: 400px;
}

.sommaire .bloc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}

.sommaire .bloc img {
    height: 85px;
    width: 85px;
}

.sommaire .bloc p {
    color: #ea5456;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.4em;
}

.sommaire a {
    color: inherit;
    text-decoration: inherit;
}

.sommaire a:hover {
    margin-left: 25px;
    transition: all 0.2s ease-in-out;
}

.sommaire .me_5 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/*
////////////////////////////////////// service
*/

.service .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.service .bloc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    margin: 10px;
    min-width: 230px;
}

.service .bloc img {
    height: 80px;
    width: 80px;
}

.service .bloc .title {
    font-size: 0.9em;
    margin-bottom: 7px;
    font-weight: bold;
}

.service .bloc p {
    font-size: 0.7em;
}

.service .me_4 {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/*
////////////////////////////////////// timeline
*/

.timeline .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.timeline .line{
    height: 5px;
    width: 80%;
    position: absolute;
    background-color: black;
    top: 50%;
}

.timeline .bloc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.timeline .bloc img{
    height: 100px;
}

.timeline .bloc .name{
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    font-size: 0.6;
    font-weight: bold;
}

.timeline .bloc .date{
    font-size: 0.7;
}

.timeline .bloc .center_bloc{
    width: 30px;
    height: 50px;
    background-color: #ffc2b4;
    z-index: 10;
}


/*
////////////////////////////////////// perform_market
*/

.perform_market .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.perform_market .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 180px;
}

.perform_market .left img {
    height: 80px;
    width: 80px;
}

.perform_market .left p {
    font-size: 0.6em;
    width: 60%;
    text-align: center;
    margin-bottom: 15px;
}

.perform_market .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 425px;
    width: 50%;
}

.perform_market .right p {
    font-size: 0.9em;
}

.perform_market .right .jauge img {
    height: 80px;
}

.perform_market .right .jauge p {
    height: 70px;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 20px;
}


.perform_market .right .jauge {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.perform_market .me_3 {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}





/*
////////////////////////////////////// identite_visuelle
*/

.identite_visuelle {
    margin-top: 50px;
}

.identite_visuelle .images {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.identite_visuelle .images_1 img {
    max-width: 90%;
    margin: 10px 10px 15px 10px;
    border: 1px solid black;
}

.identite_visuelle .images_2 .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.identite_visuelle .images_2 .top img {
    max-width: 30%;
    height: auto;
    max-height: 170px;
    margin: 5px;

}

.identite_visuelle .images_2 .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 170px;
    padding: 5px;
}

.identite_visuelle .images_2 .bottom img {
    margin: 5px;
}

.identite_visuelle .images_2 .bottom .comtesreves {
    max-width: 30%;
}

.identite_visuelle .images_2 .bottom .cartevisite {
    max-width: 60%;
}

.identite_visuelle .comtesreves2 {
    max-width: 35% !important;
}

.identite_visuelle .images_3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.identite_visuelle .images_3 img {
    max-height: 200px;
    max-width: 90%;
    margin: 5px;
}

.identite_visuelle .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.identite_visuelle .box {
    width: 30%;
    min-width: 280px;
    margin: 15px;
    max-width: 380px;
}

.identite_visuelle .box p {
    color: black;
    text-align: center;
}


/*
////////////////////////////////////// conception_site
*/

.conception_site h3 {
    margin-bottom: 85px;
}

.conception_site .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.conception_site .boxs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conception_site .box {
    width: 270px;
    height: 150px;
    background-color: #fcdfc9;
    border-radius: 3px;
    margin: 10px 20px 50px 20px;
}

.conception_site .box .preview {
    width: 170px;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}

.conception_site .box .qr {
    width: 70px;
    height: 70px;
    position: relative;
    top: -50px;
    right: -60px;
    border-radius: 3px;
}

.conception_site p {
    font-size: 0.7em;
}

.conception_site .text {
    position: relative;
    top: -40px;
    width: 85%;
    margin-left: 25px;
}

.conception_site .title {
    text-align: center;
    color: #ea5456;
}

/*
/////////////////////////////html_refont
*/

.title_h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title_h3 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


.html_refont .parts {
    align-items: flex-start !important;
}

.html_refont .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html_refont .left .boxs {
    display: flex;
    flex-direction: column;
}

.html_refont .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html_refont .right .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.html_refont .right .boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.html_refont .box {
    width: 270px;
    height: 180px;
}

/*
/////////////////////////////maquette
*/

.maquette .blocs {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.maquette .bloc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    margin: 5px;
}

.maquette .bloc p {
    text-align: center;
}

.maquette .preview {
    width: 100%;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.maquette .button_maquette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.maquette .button_maquette p {
    font-size: 0.8em;
    font-weight: bold;
    color: #ea5456;
}

.maquette .button_maquette img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

/*
/////////////////////////////social_media
*/

.social_media .title{
    color: #ea5456;
    margin-bottom: 10px;
}

.social_media .preview {
    margin: 0px 0px 10px 0px;
}


/*
/////////////////////////////mailing_blog
*/

.mailing_blog .parts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mailing_blog .left{
    width: 45%;
    min-width: 300px;
    margin-bottom: 20px;
}

.mailing_blog .left .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mailing_blog .left .images div{
    text-align: center;
}

.mailing_blog .left .images img{
    width: 150px;
    margin: 15px;
}

.mailing_blog .right{
    width: 50%;
}

.mailing_blog .right .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mailing_blog .title{
    width: 100%;
    text-align: center;
}

.mailing_blog .right .title{
    margin-bottom: 14px;
}

.mailing_blog .right h3{
    width: 100%;
    text-align: center;
}

.mailing_blog .right .images img{
    width: 230px;
    margin: 0px 15px 0px 15px;
}

.mailing_blog .right .images{
    text-align: center;
    color: #ea5456;
    font-size: 0.8em;
    font-weight: bold;
}

.mailing_blog .right .read{
margin-bottom: 15px;
}

/*
/////////////////////////////strategie
*/

.strategie .parts{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.strategie .element {
    width: min-content;
    margin-right: 150px;
}

.strategie .element img{
    width: 300px;
}

.strategie .element .text{
    background-color: #ea5456;
    border: 4px solid white;
    width: 160px;
    font-size: 0.7em;
    color: white;
    padding: 5px;
    position: relative;
    right: -240px;
    bottom: 100px;
    text-align: center;
}

.strategie .link{
    position: relative;
    right: -310px;
    bottom: 90px;
    color: #ea5456;
    font-size: 0.7em;
    font-weight: bold;
}

/*
/////////////////////////////certification
*/

.certification .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.certification .left {
    width: 35%;
    min-width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.certification .left img {
    width: 90%;
}

.certification .left .blocs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    max-width: 100%;
}

.certification .left .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.certification .left .box p {
    text-align: center;
    font-size: 0.7em;
}

.certification .left .bloc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin: 10px;
    min-width: 70px;
}

.certification .left .bloc img {
    height: 50px;
    width: 50px;
}

.certification .right {
    width: 55%;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certification .right .blocs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.certification .right .box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 170px;
}

.certification .right .bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #ea5456;
    width: 45%;
    min-width: 170px;
    flex: 1;
    margin: 0px 10px 10px 10px;

}

.certification .right .bloc img {
    width: 60%;
}

.certification .right .bloc p {
    font-size: 0.7em;
    text-align: center;
    width: 90%;
}

.circle2 {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -50px;
}

.me_2 {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*
/////////////////////////////logiciel_plateformes
*/

.logiciel_plateformes .parts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logiciel_plateformes .card {
    width: 23%;
    min-width: 200px;
    border: 2px solid #ea5456;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 5px;
}

.logiciel_plateformes .card .title {
    background-color: #ea5456;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.logiciel_plateformes .card img {
    width: 200px;
    height: auto;
}

/*
////////////////////////////////////// creat-video
*/

.creat_video .parts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.creat_video .bloc{
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creat_video .bloc img{
    width: 250px;
}

.creat_video .button_maquette{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.creat_video .button_maquette img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.creat_video .button_maquette p {
    width: max-content;
    font-size: 0.7em;
}

.creat_video .tel{
    width: 133px !important;
    margin-bottom: 15px;
}

.creat_video .me_7 {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0px;
}

/*
////////////////////////////////////// creat_visuel
*/

.creat_visuel .parts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.creat_visuel .bloc{
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.creat_visuel .bloc p{
    text-align: center;
    height: 50px;
}

.creat_visuel .bloc img{
    width: 200px;
}

.creat_visuel .livre_blanc{
    width: 500px !important;
}

.creat_visuel .livre_blanc img{
    width: 490px !important;
}

.creat_visuel .horizontal{
    width: 350px !important;
}

.creat_visuel .horizontal img{
    width: 300px !important;
}

/*
/////////////////////////////client
*/

.client .contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.client .contenu img{
    width: 250px;
}

.client .me_13 {
    width: 170px;
    height: 170px;
    position: absolute;
    bottom: 0;
    right: 0px;
}

/*
/////////////////////////////témoignages
*/

.temoins .parts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
}

.temoins .parts .bloc {
    border-top: 1px solid #ea5456;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.temoins .parts .bloc .left {
    width: 25%;
}

.temoins .parts .bloc .name {
    color: #ea5456;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

.temoins .parts .bloc .right {
    width: 75%;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Poppins';
    text-align: justify;
}

.me_12 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 50px;
}

/*
/////////////////////////////contact
*/

.contact .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact .left {
    display: flex;
    flex-direction: column;
    height: auto;
}

.contact .left h3 {
    margin-left: 0px;
    margin-bottom: 50px;
}

.contact .left p {
    line-height: 2.5em
}

.contact .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


.contact .right form {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 70%;
}

.contact .right form input {
    margin: 10px;
    padding: 5px;
    background-color: #fcdfc9;
    border: none;
}

.contact .right form input:focus {
    outline: none !important;
    border: 2px solid #ea5456;
}

.contact .right form textarea {
    margin: 10px;
    padding: 5px;
    background-color: #fcdfc9;
    border: none;
    resize: none;
}

.contact .right form textarea:focus {
    outline: none !important;
    border: 2px solid #ea5456;
}

.contact .right form .name_mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .right form .name_mail input {
    width: 45%;
}


.contact .right form .mybutton {
    background-color: #ea5456;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Poppins';
    padding: 6px 15px;
    text-decoration: none;
    width: max-content;
    margin: 10px;
}

.contact .right form .mybutton:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 0.2s ease-in-out;
}

.me_10 {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.circle3 {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}


@media (orientation: portrait) {

    .icons {
        top: 5px;
        left: 5px;
    }

    p {
        font-size: 0.7em;
    }

    h2 {
        display: none;
    }

    .mobile_h3 {
        display: block;
        text-align: center;
        color: #ea5456;
        font-size: 1.9em;
        margin-bottom: 20px;
    }

    .contenu {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .contenu h3 {
        font-size: 1.4em;
        margin-left: 15px;
        margin-top: 70px;
        margin-right: 15px;
        margin-bottom: 10px;
        text-align: center;
    }

    .circle {
        width: 120px;
        height: 120px;
    }

    section {
        padding-bottom: 150px;
    }

    .accueil {
        min-height: 93vh;
        margin-top: 0px !important;
    }

    .accueil .left {
        display: none;

    }

    .accueil .right {
        background-image: url('../images/home/portfolio_transp.png');
        width: 100%;
    }

    .accueil .right .name {
        font-size: 5em;
    }

    .accueil .me_6 {
        opacity: 0.2;
    }

    .sommaire .parts {
        margin-left: 25px;
    }

    .sommaire .bloc img {
        height: 50px;
        width: 50px;
    }

    .sommaire .bloc p {
        font-size: 1.1em;
    }

    .sommaire .bloc {
        margin: 7px;
    }

    .sommaire .me_5 {
        width: 150px;
        height: 150px;
    }

    .service .me_4 {
        width: 120px;
        height: 120px;
    }

    .timeline{
        padding-bottom: 50px;
    }

    .timeline .parts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .timeline .line{
        display: none;
    }

    .timeline .bloc{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 80px;
        z-index: 11;

        border-left: 1px solid #ffc2b4;
        border-right: 1px solid #ffc2b4;
    }

    .timeline .bloc img{
        height: 60px;
    }

    .timeline .bloc .name {
        justify-content: center;
        font-size: 0.6;
        width: 180px;
    }

    .timeline .bloc .date{
        font-size: 0.7;
    }

    .timeline .bloc .center_bloc{
        width: 80%;
        height: 2px;
        background-color: #ffc2b4;
        z-index: 10;
        margin: 10px;
    }

    .timeline .parts::before {
        position: absolute;
        left: 50%;
        top: 70px;
        content: ' ';
        display: block;
        width: 2px;
        height: 93%;
        margin-left: -1px;
        background: rgb(20, 20, 20);
        background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
        background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(72, 72, 72) 8%, rgb(57, 57, 57) 92%, rgba(213,213,213,0) 100%);
        z-index: 5;
      }


    .perform_market .left img {
        height: 60px;
        width: 60px;
    }

    .perform_market .right {
        min-width: auto;
        width: auto;
    }

    .perform_market .right .jauge {
        margin-left: 30px;
    }

    .perform_market .right p {
        margin-left: 30px;
    }

    .perform_market .right .jauge img {
        height: 50px;
    }

    .perform_market .right .jauge p {
        height: 40px;
        font-size: 1.5em;
    }

    .perform_market .me_3 {
        width: 100px;
        height: 100px;
    }

    .me_2 {
        width: 120px;
        height: 120px;
    }

    .conception_site h3 {
        margin-bottom: 85px !important;
    }

    h3 {
        margin-top: 0px !important;
    }

    .title_h3 img {
        width: 30px;
        height: 30px;
        margin-right: 0px;
        margin-left: 15px;
    }

    .strategie .element {
        margin-right: 85px;
    }

    .strategie .element img {
        width: 200px;
    }

    .strategie .element .text {
        right: -150px;
        bottom: 70px;
        width: 120px;
    }

    .strategie .link {
        position: relative;
        right: -210px;
        bottom: 65px;
    }

    .creat_visuel .livre_blanc img {
        width: 315px !important;
    }

    .creat_video .me_7 {
        width: 150px;
        height: 150px;
        right: -30px;
    }

    .creat_visuel .bloc p {
        height: 25px;
    }

    .contact .left h3 {
        text-align: left;
    }

    .temoins .parts .bloc {
        width: 100%;
    }

    .temoins .parts {
        width: 90%;
        margin-left: 20px;
    }

    .me_11 {
        width: 200px;
        height: 200px;
        right: -40px;
    }

    .me_12 {
        width: 140px;
        height: 140px;
        position: absolute;
        bottom: 0;
        right: 50px;
    }

    .client .me_13 {
        width: 130px;
        height: 130px;
        right: -10px;
    }

    .temoins .parts .bloc .right {
        font-size: 0.8em;
    }

    .contact .left {
        width: 90%;
    }

    .contact .left h3 {
        margin-bottom: 5px;
    }

    h3 {
        margin-bottom: 10px;
        text-align: left;
    }

    .contact .right form {
        max-width: 70%;
    }

    .me_10 {
        width: 250px;
        height: 250px;
    }

}